<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT"> <!-- 定义类型为Console的Appender -->
            <PatternLayout pattern="%d{HH:mm:ss} %-5p [%t] %C{2} (%F:%L) - %m%n"/> <!-- 定义类型为Pattern的Layout -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="MainLogger" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>